// Colors

$primary: #5B5639;

$secondary: #112533;

$tertiary: #B58B2D;

$accent: #5F6438;

$black: #111820;

$link: $tertiary;

$hover: lighten($tertiary, 20%);

// // Typefaces

$sans-serif: "Lato", sans-serif;
$sans-thin: "Lato 100", sans-serif;
$sans-regular: "Lato 400", sans-serif;
$sans-bold: "Lato 600", sans-serif;

$serif: "Roboto Slab", serif;
$serif-thin: "Roboto Slab 300", serif;
$serif-bold: "Roboto Slab 600", serif;

$li-padding: 5px;

$animation-delay: 0.7s;

//breakpoints

$mobile: 20em;
$small: 40.063em;
$medium: 47em;
$large: 75em;
$xlarge: 120.063em;