.card-image-main-house {
    background-image: url(/img/cards/main-house.jpg);
}

.card-image-activities {
    background-image: url(/img/cards/quads.jpg);
}

.card-image-info {
    background-image: url(/img/cards/ranch-info.jpg);
}

.card-image-competition {
    background-image: url(/img/cards/hunting/competition.jpg);
}

.card-image-bird-hunt {
    background-image: url(/img/cards/hunting/shotguns.jpg);
}

.card-image-sping-turkey {
    background-image: url(/img/cards/hunting/turkey.jpg);
}

.card-image-day-hunt {
    background-image: url(/img/cards/hunting/day-hunt.jpg);
}

.card-image-two-day-hunt {
    background-image: url(/img/cards/hunting/2-day-hunt.jpg);
}

.card-image-three-day-hunt {
    background-image: url(/img/cards/hunting/3-day-hunting.jpg);
}

.card-image-reed {
	background-position: center;
	background-size: contain;
	background-image: url(/img/cards/about/reed-mack.jpg);	
}

.card-image-spencer {
	background-position: center;
	background-size: contain;
	background-image: url(/img/cards/about/spencer-keiser.jpg);
}
