.card-image-main-house {
    background-image: url(/img/cards/main-house.jpg);
}

.card-image-range {
    background-image: url(/img/cards/shooting-range.jpg);
}

.card-image-quads {
    background-image: url(/img/cards/quads.jpg);
}