.card-image-main-house {
    background-image: url(/img/cards/main-house.jpg);
}

.card-image-activities {
    background-image: url(/img/cards/quads.jpg);
}

.card-image-info {
    background-image: url(/img/cards/ranch-info.jpg);
}