@mixin buttons {
  background-color: $link;
  color: white;
  border: 0;
  border-radius: 3px;
  padding:.5rem
}

.btn {
	@include buttons;
  text-transform: uppercase;
}
.btn-block {
  display: block;
  width: 100%;
}

.button {
 @include buttons;
  
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.button--light {
  background: #FFF;
  color: #F00;
}
