.hero {
    @include full;

    background-color: $black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
    height: 350px;

    @include breakpoint(large) {
        height: 500px;
    }


    h1 {
        position: absolute;
        bottom: 0;
        left: 5%;
        color: $primary;
        font-family: $serif;
        text-align: left;

        @include breakpoint(medium) {
            text-align: center;
        }
    }
}

#home-hero {
    background-image: url(/img/hero/pvr-valley.jpg);
}

#links-hero {
    background-image: url(/img/hero/salinas-valley.jpg);
}

#ranch-hero {
    background-image: url(/img/hero/ranch-gate.jpg);
}

#main-house {
    background-image: url(/img/hero/main-house.jpg);
}

#bunk-house {
    background-image: url(/img/hero/bunk-house.jpg);
}

#party-pad-hero {
    background-image: url(/img/hero/party-pad.jpg);
}

#riding-hero {
    background-image: url(/img/hero/riding.jpg);
}

#activites-hero {
    background-image: url(/img/hero/activities.jpg);
}

#hunting-hero {
    background-image: url(/img/hero/hunting.jpg);
}

#shooting-hero {
    background-image: url(/img/hero/shooting.jpg);
}

#about-hero {
    background-image: url(/img/hero/about.jpg);
}

#contact-hero {
    background-image: url(/img/hero/contact.jpg);
}

#bird-hunt-hero {
    background-image: url(/img/hero/bird_hunt.jpg);
}

#spring-hunt-hero {
    background-image: url(/img/hero/turkey_hunt.jpg);
}

#day-hunt-hero {
    background-image: url(/img/hero/day_hunt.jpg);
}

#two-day-hero {
    background-image: url(/img/hero/two_day.jpg);
}

#three-day-hero {
    background-image: url(/img/hero/three_day.jpg);
}
