#home {
	.c-navlist__link {
		color:white;
	}
	.home-vid {
		max-height: 980px;
	}
   .fullscreen-bg {
	  	position: absolute;
	  	top: 0;
	  	// right: 0;
	  	// bottom: 0;
	  	// left: 0;
	  	// overflow: hidden;
	  	z-index: -100;
	}
   .fullscreen-bg_video {
	  position: absolute;
	  // top: 0;
	  // left: 0;
	  // width: 100%;
	  // height: auto;
	}
	// @media (min-aspect-ratio: 16/9) {
	//   .fullscreen-bg_video {
	//     height: 300%;
	//     top: -100%;
	//   }
	// }

	// @media (max-aspect-ratio: 16/9) {
	//   .fullscreen-bg_video {
	//     width: 300%;
	//     left: -100%;
	//   }
	// }
	#video-cap {
		// height: auto;
		@include breakpoint(medium) {
			height: 100vh;
		}
		
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	#home-title {
		line-height: 1.75;
		padding: 5%;
		max-width: 40%;
		border: solid 1px;
		text-align: center;
		color: white;
	}
	#home-about {
		max-width: 85%;
		text-align: center;
	}
	.img-grid{
		width: 100%;
		
		h1 {
		font-size: 2.25rem;
		font-weight: 300;
		margin-bottom: 0;
		margin-top: 5%;
		text-align: center;
		}
	}
	ol {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		padding: 0;
		@include breakpoint(medium) {
			flex-direction:row;
		}
		justify-content: center;
	}
	
	.map {
		@include full;
		line-height: 0;
	}
	.pvr-map {
		width: 100%;
		min-height: 450px;
	}
	
}