#reservation {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	@include breakpoint(medium) {
		flex-direction:row;
	}
	.reserve-info {
		margin-right: 10%;
		width:65%;
	}
	.reserve-booking {
		width: 35%;
	}
	ul {
		li {
			margin-left: 10%;
			list-style-type: disc;
		}
	}
	h2 {
		@include responsive-typography(20px, 28px, false);
		margin-bottom: 0;
		line-height: 1.2;
	}
	p {
		margin-top: 0;
	}
	.button {
		@include send-button;
	}
}