#reservation {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	@include breakpoint(medium) {
		flex-direction:row;
	}
	.reserve-info {
		margin-right: 10%;
		width:65%;
	}
	.reserve-booking {
		width: 35%;
	}
	ul {
		li {
			margin-left: 10%;
			list-style-type: disc;
		}
		
	}
	.button {
		@include send-button;
	}
}