#article-img-text {
    .info-wrapper {
        @include full;

        article {
            display: flex;
            flex-direction: column;
            @include breakpoint(medium) {
                flex-direction:row;
            }
        }

        article > div {
            margin: 2%;
            max-width: 50%;
        }
        h1 {
            color: $primary;
            text-align: left;
            line-height: 1.25;
            font-size: 1.75rem;
            margin-bottom: 0;
        }
        p {
            margin-top: 1.2%;
        }
        .info-img {
            max-width: 35%;
            width: 35%;
        }
    }
    

}