#article-img-text {
    .img-text {
        h1 {
            color: $primary;
            text-align: left;
            line-height: 1.25;
            font-size: 1.25rem;
            margin-bottom: 0;
        }

        @include full;

        padding: 5%;
        margin-bottom: 2%;

        img {
            float: left;
            width: 100%;

            @include breakpoint(medium) {
                width: 25%;
            }


            margin-right: 5%;
        }

        h2 {
            line-height: .5;
            margin-bottom: 0;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 200;
            color: $accent;
        }
    }
}